<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Profile</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
		/>
		<style>
			a {
				text-decoration: none;
				text-decoration-color: none;
			}
		</style>
	</head>

	<body>
		<header>
			<%-include('./navbar.ejs') %>
		</header>
		<div class="container">
			<h3 style="margin-top: 15%; margin-left: 35%;">
				PROFILE <i class="material-icons">person</i>
			</h3>
			<table class="table table-dark">
				<thead>
					<tr>
						<th scope="col">Fist Name</th>
						<th scope="col">Last Name</th>
						<th scope="col">Username</th>
						<th scope="col">Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%=user.firstname %></td>
						<td><%=user.lastname %></td>
						<td><%=user.username %></td>
						<td><%=user.email %></td>
						<td>
							<button class="btn btn-success">
								<a style="text-decoration: none; color: white;" href="/logout"
									>Logout</a
								>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
